<a href="https://colab.research.google.com/github/sravs1407/machine-learning/blob/main/Naive_bayesian.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [57]:
import pandas as pd
df=pd.read_csv("/content/p3.csv")
df=pd.DataFrame(df)
df

     outlook temperature humidity  windy class
0      sunny         hot     high  False     n
1      sunny         hot     high   True     n
2   overcast         hot     high  False     p
3       rain        mild     high  False     p
4       rain        cool   normal  False     p
5       rain        cool   normal   True     n
6   overcast        cool   normal   True     p
7      sunny        mild     high  False     n
8      sunny        cool   normal  False     p
9       rain        mild   normal  False     p
10     sunny        mild   normal   True     p

In [58]:
def naivebayies(df):
  temp={"sunnyp":0,"sunnyn":0,"overcastp":0,"overcastn":0,"rainp":0,"rainn":0,"hotp":0,"hotn":0,"mildp":0,"mildn":0,"coolp":0,"cooln":0,"highp":0,"highn":0,"normalp":0,"normaln":0,"Truep":0,"Truen":0,"Falsep":0,"Falsen":0}
  col=len(df.columns)
  pos=0
  neg=0
  for i in range(len(df.index)):
    for j in range(col-1):
      if(df.loc[i,"class"]=='p'):
         s=str(df.iloc[i,j])+'p'
         temp[s]+=1
         pos+=1
      else:
        s=str(df.iloc[i,j])+"n"
        temp[s]+=1
        neg+=1
  return temp,pos,neg;
lis,pos,neg=naivebayies(df)
print(lis)
print(pos/len(df.index))

{'sunnyp': 2, 'sunnyn': 3, 'overcastp': 2, 'overcastn': 0, 'rainp': 3, 'rainn': 1, 'hotp': 1, 'hotn': 2, 'mildp': 3, 'mildn': 1, 'coolp': 3, 'cooln': 1, 'highp': 2, 'highn': 3, 'normalp': 5, 'normaln': 1, 'Truep': 2, 'Truen': 2, 'Falsep': 5, 'Falsen': 2}
2.5454545454545454

In [59]:
testing=pd.read_csv("/content/testp3.csv")
testing

    outlook temperature humidity   wind
0  overcast        mild     high   True
1  overcast         hot   normal  False
2      rain        mild     high   True

In [62]:
def testingdata(test,pos,neg,temp,length):
  py=pos/length
  pn=neg/length
  print(py,pn)
  res=[]
  for i in range(len(test.index)):
    res1=py
    res2=pn
    for j in range(len(test.columns)-1):
      res1=res1*(temp[str(df.iloc[i,j])+'p']/pos)
      res2=res2*(temp[str(df.iloc[i,j])+'n']/neg)
    print(res1,res2)
    if(res1>res2):
      res.append('p')
    else:
      res.append('n')
  return res;
out=testingdata(testing,pos,neg,lis,len(df.index))
print(out)

2.5454545454545454 1.4545454545454546
0.00046382189239332086 0.006392045454545454
0.00046382189239332086 0.006392045454545454
0.00046382189239332086 0.0
['n', 'n', 'p']